<%= form_for @burger do |f|%>
    <div>New Burger</div>
    Burger you want? <%= f.text_field :name %>
    price: <%= f.text_field :price %>
    pic: <%= f.file_field :pic %>    
    <%= f.submit %>
  <% end %>